a:link {
  text-decoration: underline;
}

#body-container{
	margin-top: 50px;
}

img {
  margin: 20px;
}

.logo img,
.brand img {
  margin: 0;
}

.nav li{
	margin-top: 23px;
}

#body-container p,
#body-container li {
  font-size: 16px;
  line-height: 24px;
}

#body-container li {
  line-height: 20px;
}

.polaroid {
  position: relative;
  width: 220px;
}

.highlight {
  background-color: rgb(248, 248, 248);
}
 
.polaroid img {
  margin: 0;
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1;
  color: #888;
}

#body-container footer p {
  font-size: 14px;
}